html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.grass,
.sky,
.road {
  position: relative;
}

.sky {
  height: 40%;
  background: skyblue;
}

.grass {
  height: 30%;
  background: seagreen;
}
.road {
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines {
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 1400px;
  position: absolute;
  top: 45%;
}

/*// ELEMENT TO ANIMATE //*/

.mario {
  position: absolute;
  top: -40px;
  left: 0px;
  height: 71%;
  animation: drive 5s both infinite cubic-bezier(0.01, 0.62, 0.75, 0.32),
    jump 0.3s 1.2s ease;
}

.luigi {
  position: absolute;
  top: 70px;
  left: 0px;
  height: 65%;
  width: 250px;
  animation-name: drive;
  animation-duration: 7s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.cloud {
  position: absolute;
}

.cloud:nth-child(1) {
  width: 200px;
  top: 70px;
  opacity: 0.5;
  animation: wind 80s linear infinite reverse;
}

.cloud:nth-child(2) {
  width: 250px;
  top: 0px;
  animation: wind 50s linear infinite reverse;
}
/* KEYFRAMES */
@keyframes drive {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(1500px);
  }
}

@keyframes wind {
  from {
    left: -300px;
  }
  to {
    left: 100%;
  }
}

@keyframes jump {
  0% {
    top: -40px;
  }
  50% {
    top: -100px;
  }
  100% {
    top: -40px;
  }
}
